@{
    ViewBag.Title = "Pastebook";
}

<div class="container">
    HOME
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">@Html.TextArea("Post", new { @class = "form-control", id = "txtPost" })</div>
                <div class="col-md-12 pull-right">
                    @Html.ActionLink("Post", "Index", "Home", new { @class = "btn btn-default", id = "btnPost" })
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}