@{
    ViewBag.Title = "Pastebook";
}

<div class="container">
    HOME
    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("Friends", "Index", "Home", new { @class = "btn btn-default" })
        </div>
        <div class="col-md-8">
            <div class="row">
                <div>@Html.TextArea("Post", new { @class = "form-control", id = "txtPost" })</div>
                <div>
                    @Html.ActionLink("Post", "Index", "Home", new { @class = "btn btn-default", id = "btnPost" })
                </div>
                <div>
                    @*partial view of timeline here*@
                </div>
            </div>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}