@model IEnumerable<PastebookEntityFramework.PB_USER>

@{
    ViewBag.Title = "Pastebook Search";
}

<h4>Search Results</h4>

@foreach (var item in Model)
{
    <div class="panel col-md-4">
        <div class="panel-body">
            <div class="col-md-4">
                <a href="@Url.Action("Index", "Profile", new { username = item.USER_NAME })">
                    <img src="~/Content/Images/default-profile-picture.png" alt="Profile Picture" class="img-thumbnail">
                </a>
            </div>
            <div class="col-md-8 txtFullName">
                @Html.ActionLink(item.FIRST_NAME + " " + item.LAST_NAME, "Index", "Profile", new { username = item.USER_NAME }, new { @class = "name" })
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
}