@model IEnumerable<PastebookWebApplication.Models.PostViewModel>

@{
    //User's post
    ViewBag.Title = "Pastebook";
}

@foreach (var item in Model)
{
    <div class="panel">
        <div class="panel-heading col-md-10">
            <div class="col-md-2">
                <img src="~/Content/Images/default-profile-picture.png" alt="Profile Picture" class="img-thumbnail">
            </div>
            <div class="col-md-10 txtFullName txtPosterName">
                @Html.ActionLink(item.User.FIRST_NAME + " " + item.User.LAST_NAME, "Index", "Profile", new { username = item.User.USER_NAME }, new { @class = "name" })
            </div>
            <div class="col-md-8 txtDateCreated">
                @item.Post.CREATED_DATE.ToString("MMMM dd, yyyy hh:mm tt")
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12 txtPost">
                @item.Post.CONTENT
            </div>
        </div>
        @* like and comment partial view *@
        @{ Html.RenderAction("Actions", "Action", new { postID = item.Post.ID }); }
    </div>}